.about {
    background: $off-white;
    color: $off-black;
    padding-bottom: 5rem;
    padding-top: 4rem;
    .title {
        grid-column: 2 / 5;
    }
    .text {
        grid-column: 2 / 5;
        font-size: .98rem;
    }
    .photo-container {
        grid-column: 6 / 12;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
        justify-items: start;
        align-content: start;
        img {
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width: 900px) {
        .title, .text {
            grid-column: 2 / 6; 
        }
        .photo-container {
            grid-column: 7 / 12;        
            grid-template-columns: repeat(2, auto);
            img:nth-child(8) {
                display: none;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .title, .text {
            grid-column: 2 / 12; 
        }
        .photo-container {
            grid-column: 2 / 12;        
            grid-template-columns: repeat(1, auto);
            img {
                display: none;
                &:nth-child(3) {
                    display: block;
                }
            }
        }   
    }
}

