.banner {
    height: 78vh;
    background: $black;
    // display: grid;
    // grid-template-columns: 45% 55%;
    display: flex;
    overflow: hidden;
    .ad-image {
        display: flex;
        align-items: center;
        position: relative;
        .album-cover{ 
            z-index: 1;
            max-width: 30%;
            min-width: 30vw; 
            // transition-property: transform, left;
            // transition-duration: .8s;
            // opacity: 1;
            // will-change: opacity;
            // left: 1rem;
            // .is-visible {
            //     opacity: 1;
            // }
        }
        .lp {
            max-width: 30%;
            min-width: 30vw;
            position: absolute;
            // transition: left .8s .05s, transform 1.5s ease-out;
            left: 0; 
            // will-change: left, transform;
            // &.is-visible {
            //     opacity: 1;
            //     left: 43%;
            //     transform: rotate(720deg); 
            // }
        }
    }
    .ad-text {
        width: 50vw;
        color: $white;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        .go-surfing-logo {
            width: 90%;
            margin-top: 80px;
            margin-bottom: 50px;
        }
        .quote {
            font-size: 1.1rem;
            line-height: 1.65;
            margin-bottom: 50px;
            span {
                font-style: italic;
            }
        }
        .button {
            display: inline-block;
            text-align: left;
            margin: 5px;
         }
        .footnote {
            text-transform: uppercase;
            font-size: .7rem;
            margin-top: 40px;
        }
    }
    @media screen and (max-width: 900px) {
        .lp {
            display: none;
        }
        .ad-image .album-cover {
            max-width: 90%;
        }
        .ad-text {
            .go-surfing-logo {
                width: 100%;
            }
        } 
    }
    @media screen and (max-width: 600px) {
        height: auto;
        flex-direction: column;
        align-items: center;
        align-content: center;
        .ad-image {
            order: 2;
            max-width: 80%;
            margin: 3rem 0;
            .album-cover {
                max-width: 100%;
            } 
        }
        .ad-text {
            width: 90%;
            .go-surfing-logo {
                margin-top: 3rem;
            }
            .footnote {
                margin-top: 1rem;
            }
        }
    }
}