.news {
    background: $off-white;
    .news-content {
        height: 22vh;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 1.1rem;
            font-weight: 600;
            color: $off-black;
            padding: 0.1rem 1rem;
        }
        a {
            color: $off-black;
            text-decoration: underline;
            font-weight: 600;
            font-size: 2.2rem;
            // transition-property: color, font-size;
            // transition-duration: .2s, .2s;
            transition: all .15s linear;
            &:hover {
                color: $black;
                // font-size: 2.3rem;
                transform: scale(1.08);
            }
        }
        @media screen and (max-width: 600px) {
            height: auto;
            text-align: center;
            h2 {
                font-size: 1rem;
                margin-top: 2rem;
            }
            a {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}