.no-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.no-selection {
  user-select: none;
}

.carousel {
    color: white;
    display: block;
    position: fixed;
    z-index: 99;
    height: 100vh;
    width: 100%; // is default?
    top: 0; 
    left: 0;
    background: rgba(0,0,0,.88);
    user-select: none; 
    .carousel-overlay-wrapper {
        position: relative;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
        .carousel-top-bar-wrapper {
            position: absolute;
            top: 0;
            width: 100%;
            .carousel-button-close {
                top: 0;
                left: 0;
                z-index: 999;
                background-color: $white;
                display: inline-block;
                padding: .7rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .carousel-left-bar-wrapper {
            padding: 8rem 3rem;
            padding-right: 4rem;
            @media screen and (max-width: 1200px) {
                padding: 2rem 2rem;
            }
            svg path {
                fill: #5a5959;
                transition: all .2s linear;
            }
            &:hover {
                cursor: pointer;
                svg path {
                    fill: $off-white;
                }
                @media screen and (max-width: 1011px) {
                    cursor: default;
                }
            }
        }
        .carousel-right-bar-wrapper {
            padding: 8rem 3rem;
            padding-left: 4rem;
            @media screen and (max-width: 1200px) {
                padding: 2rem 2rem;
            }
            svg path {
                fill: #5a5959;
                transition: all .2s linear;
            }
            &:hover {
                cursor: pointer;
                svg path {
                    fill: $off-white;
                }
                @media screen and (max-width: 1011px) {
                    cursor: default;
                }
            }
        }
        .carousel-photo-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            img {
                object-fit: contain;
                max-width: 100%;
                height: auto;
            }
        }
        .caption-wrapper {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%);
            width: 80%;
            z-index: 999;
            padding: 1rem;
            background: linear-gradient(to right, transparent, rgba(0,0,0,.7), transparent);
            display: flex;
            justify-content: center;
            .caption {
                color: white;
                font-size: .8rem;
                text-transform: uppercase;
            }
        }
    }
}