#overlay-shop {
    display: none;
    height: 100vh;
    width: 100%; // is default?
    position: fixed; // ??
    top: 0; // ??
    background-color: rgba(0,0,0,.86);
    z-index: 100;
    .overlay-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 101;
        .top-bar-wrapper {
            position: absolute;
            top: 0;
            width: 100%;
            .button-close {
                top: 0;
                left: 0;
                background-color: $white;
                display: inline-block;
                padding: 1rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .left-bar-wrapper {
            padding: 8rem 1.5rem;
            padding-left: 1.5rem;
            &:hover {
                cursor: pointer;
            }
        }
        .right-bar-wrapper {
            padding: 8rem 1.5rem;
                // svg path {
                // fill: #333;
                // }
            &:hover {
                cursor: pointer;
            }
        }
        .content-wrapper {
            display: flex;
            justify-content: center;
            max-width: 65%;
            .image-container {
                max-height: 100%;
                // max-width: 50%;
                padding-right: 2%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 50%;
                padding-left: 2%;
                .buttons-container {
                    display: flex;
                    margin-top: 1.5rem;
                    .button__shop--buy {
                        margin-right: 1.5rem;
                    }
                }
            } h2 {
                font-size: 2.7rem;
            } p {
                font-size: .9rem;
                line-height: 1.4;
            }
        }
    }
}