.shows {
    // height: 100vh;
    background: $off-white;
    padding-bottom: 5rem;
    padding-top: 4rem;
    h2 {
        color: $off-black;
        margin-bottom: 1rem;
    }   
    .dates {
        .songkick-widget {
            .event .ok {
                display: none;
            }
        }
    }
    .button__flex--video {
        display: none; // Click function turned off until Songkick API key is available
        border: 2px solid $off-black;
        color: $off-black;
        width: 200px;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
        &:hover {
            cursor: pointer;
            background-color: $black;
            border-color: $black;
            color: $off-white;
        }
    }
}



