// Generic Button //
.button {
    display: block;
    width: 200px;
    padding: 11px 0;
    border: 2px solid $off-white;
    color: $off-white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

// Shop Album Buttons
.button__album {
    width: 88%;
    border: 1px solid $socials-grey;
    color: $socials-grey;
    padding: 10px;
    font-weight: 100;
    display: relative;
}

// Specific Buttons //
.button__buy {
    position: relative;
    padding-left: 90px;
    transition: all .15s linear;
    .shopping {
        position: relative;

        svg {
            position: absolute;
            left: -32px;
            path {
            transition: all .15s linear;
            }
        }
    }
    &:hover {
        background-color: $white;
        color: $black;
        svg path {
            fill: $black;
        }
    }
}

.button__spotify {
    position: relative;
    padding-left: 70px;
    transition: all .15s linear;
    .spotify {
        position: relative;
        svg {
            position: absolute;
            left: -32px;
            path {
            transition: all .15s linear;
            }
        }
    }
    &:hover {
        background-color: $white;
        color: $black;
        svg path {
            fill: $black;
        }
    }
}

.button__apple {
    position: relative;
    padding-left: 90px;
    &::before {
        position: absolute;
        content: url("./../img/apple.svg");
        display: block;
        left: 29%;
    }
}


// Flex Buttons //
.button__flex {
    width: 100%;
    @include hover-white;
}

.button__flex--buy {
    .buy {    
    display: flex;
    justify-content: center;
    position: relative;
        &::before {
            content: url("./../img/shopping.svg");
            position: absolute;
            right: 62%;
        }
    }
}


// Borderless Buttons 
.button__buy--borderless {
    border: none;  
    padding: 0;
    margin: 5px 0;
    padding-left: 32px; 
    &::before {
        position: absolute;
        display: block;
        left: 0;
    }
}

.button__spotify--borderless {
    border: none; 
    padding: 0;
    margin: 5px 0;
    padding-left: 32px; 
    &::before {
        position: absolute;
        display: block;
        left: 3px;
    }
}

.button__apple--borderless {
    border: none;  
    padding: 0;
    margin: 5px 0;
    padding-left: 32px; 
    &::before {
        position: absolute;
        display: block;
        left: 4px;
    }
}

.button__shop--buy {
    position: relative;
    padding-left: 90px;
    transition: all .15s linear;
    .shopping {
        position: relative;
        svg {
            position: absolute;
            left: -32px;
            path {
            transition: all .15s linear;
            }
        }
    }
    &:hover {
        background-color: $white;
        color: $black;
        svg path {
            fill: $black;
        }
    }
}

.button__shop--stream {
    position: relative;
    padding-left: 60px;
    transition: all .15s linear;
    position: relative;
    .stream {
        svg {
            position: absolute;
            left: 160px;
            top: 16px;
            path {
            transition: all .15s linear;
            }
        }
    }
    &:hover {
        background-color: $off-white;
        color: $black;
        .stream svg path {
            fill: $black;
        }
    }
}