*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    background: $black;
}

body {
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}