// Colors
$black: #000;
$white: #fff;

// $off-white: #fbfbfb;
$off-white: #f3eee9; // Benjamin Moore Vintage Taupe
$off-black: #262626;

$hover-black: #bbb;
$hover-white: #333;

$grey: #696969;
$socials-grey: #989898;