$max-width: 1140px;

.margin-100 {
    width: 100%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-95 {
    width: 95%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-90 {
    width: 90%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-85 {
    width: 85%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-80 {
    width: 80%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-75 {
    width: 75%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-70 {
    width: 70%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-65 {
    width: 65%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-60 {
    width: 60%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-55 {
    width: 55%;
    margin: 0 auto;
    max-width: $max-width;
}

.margin-50 {
    width: 50%;
    margin: 0 auto;
    max-width: $max-width;
}